.tab-pane .tab-header-area .tab-header-background {  /* THIS IS THE BACKGROUND BEHIND THE TABS */
    -fx-background-color: #3c3c3c;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab{
    -fx-background-color: #C6C6C6;
}

.tab-pane, .tab-pane .tab:selected{     /* THIS IS THE SELECTED TAB */
    -fx-background-color: #e6e6e6;
}

.tab:selected .tab-label {              /* AND THIS IS ITS LABEL */
    -fx-text-fill: #96b946;
}

.tab .tab-label {                       /* THIS IS EVERY OTHER LABEL */
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

